* {box-sizing: border-box;}
h1 {
  color: black;
  background-color: wheat;
}

.box {
    width: 50%;
    height: 50%;
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.appContainer > div {
  border: 1px dashed #888;
}

.header {
  flex-shrink: 0;
}
.main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}